<div class="about-section">
  <h1>About us</h1>
  <p>TABBER Store is an online e-commerce in which you can buy or sell products</p>
  <p>This store was created as part of WE4B project</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
    <div align="center">
      <img src="/assets/gokdeniz.png" alt="Gökdeniz" style="width:60%">
    </div>
      <div class="container">
        <h2>Gökdeniz Albuzlu</h2>
        <p class="title">Computer Science Student</p>
        <p>Back end programmer</p>
       <b><p><a href="mailto:gokdeniz.albuzlu@utbm.fr">gokdeniz.albuzlu@utbm.fr</a></p></b>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div align="center">
      <img src="/assets/rawan.png" alt="Rawan" style="width:60%">
    </div>
      <div class="container">
        <h2>Rawan Traboulsi</h2>
        <p class="title">Computer Science Student</p>
        <p>Front end designer</p>
        <b><p><a href="mailto:traboulsi.rawan@utbm.fr">traboulsi.rawan@utbm.fr</a></b>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div align="center">
      <img src="/assets/professor.jpg" alt="Teacher" style="width:60%">
    </div>
      <div class="container">
        <h2>Dr. Mohamed Kas</h2>
        <p class="title">WE4B Teacher/Supervisor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <b><p><a href="mailto:mohamed.kas@utbm.fr">Mohamed.kas@utbm.fr</a></p></b>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>