<div class="text-center" *ngIf="this.auth">
<p >Welcome to your Tabber Store account as a Client</p>
<p>in the upper left corner you have the Tabber store menu, here you can order or search a product </p>
<p>you can also dynamically modifiy your account informations by using "myaccount menu"</p>
<p>during the shopping you can add several items to your cart, you can see those items by using "my cart" menu this menu will also show you the total prices of your product</p>
</div>


<div class="text-center" *ngIf="this.auth2">
    <p >Welcome to your Tabber Store account as a Professional</p>
    <p>in the upper left corner you have the Tabber store menu, here you can sell your products </p>
    <p>you can also dynamically modifiy your company informations by using "myaccount menu"</p>
    </div>