
<div *ngIf="user">
<div align="center">
<h2 >Your Profile as Client</h2>
<form [formGroup]="angForm" (ngSubmit)="modifydata(angForm)" autocomplete="off" >
    <div class="form-row">
        <label for="username">Name</label>
        <input type="text" name="nom" formControlName="nom"  autocomplete="off" class="form-control input-sm" required="required" [(ngModel)]="users.nom" >
    </div>
    <div class="form-row">
        <label for="fname">First Name</label>
        <input type="text" name="prenom" formControlName="prenom" autocomplete="off" class="form-control input-sm" required="required" [(ngModel)]="users.prenom">
    </div>
    <div class="form-row">
        <label for="your_email">email address: {{users.email}}</label>
    </div> 

    <div class="form-row">
        <label for="ville">City</label>
        <input type="text" name="ville" formControlName="ville" autocomplete="off" class="form-control input-sm" required="required" [(ngModel)]="users.ville">
    </div>
    <div class="form-row">
        <label for="cp">Post Code</label>
        <input type="text" name="cp" formControlName="cp" autocomplete="off" class="form-control input-sm" required="required" [(ngModel)]="users.cp">
    </div>
    <div class="form-row-last">
        <button>Modify your informations
            <i class="zmdi zmdi-arrow-right"></i>
        </button>
    </div>
</form>
</div>
</div>



<div *ngIf="vendor">    
    <div align="center">
    <h2>Your Profile as Vendor</h2>
    <form [formGroup]="angForm" (ngSubmit)="modifydata(angForm)" autocomplete="off" >
        <div class="form-row">
            <p>Nom entreprise : <input type="text" name="Entreprise" formControlName="Entreprise" autocomplete="off" class="form-control input-sm" placeholder="Company" [(ngModel)]="vendors.Entreprise"></p>
            <p>Numéro de registre de commerce :<input type="text" name="numregistrecommerce" formControlName="numregistrecommerce" autocomplete="off" class="form-control input-sm" placeholder="Numéro de registre de commerce" [(ngModel)]='vendors.Numregistrecommerce'></p>
        </div>
        <div class="form-row">
            <p>Numéro de TVA :<input type="text" name="numerotva" formControlName="numerotva" autocomplete="off" class="form-control input-sm" placeholder="NumeroTVA" [(ngModel)]='vendors.NumeroTVA'></p>
            <p>Adresse Commercial<input type="text" name="adressecommercial" formControlName="adressecommercial" autocomplete="off" class="form-control input-sm" placeholder="Company address" [(ngModel)]='vendors.AdresseCommercial'></p>
        </div>
        <div class="form-row">
            <p>Ville : <input type="text" name="ville" formControlName="ville" autocomplete="off" class="form-control input-sm" placeholder="Ville" [(ngModel)]='vendors.Ville'></p>
            <p>Code Postal : <input type="text" name="cp" formControlName="cp" autocomplete="off" class="form-control input-sm"placeholder="Code postal" [(ngModel)]='vendors.CodePostal'></p>
        </div>
        <div class="form-row">
            <p>Adresse Email : {{vendors.email}}</p>
            <i class="zmdi zmdi-account"></i>
        </div>

        <div class="form-row">
            <p>Numéro de téléphone<input type="number" name="phonenumber" formControlName="phonenumber" autocomplete="off" class="form-control input-sm"  placeholder="Phone Number" [(ngModel)]='vendors.PhoneNumber'></p>
            <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-row-last">
            <button>Modify your informations
            <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </form>
</div>
</div>

    
        




